export GIT_DIR_PATH="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
REPO_ROOT="${GIT_DIR_PATH}"

## Source local/ignored .envrc.local for machine-specific environment
source_env_if_exists .envrc.local

########################
# Example .envrc.local #
########################
#
# ############
# # Git vars #
# ############
# 
# ## Git roots when running go-task tasks
# export GIT_ROOTS="repos sparse-clones worktrees"
# 
# ## Number of subdirectories to include in git scans.
# #  Higher number means more system resources used.
# #  Default: GIT_MAX_DEPTH="6"
# export GIT_MAX_DEPTH="10"
# 
# ## More parallelism = faster scans, higher CPU usage.
# #  Default: FETCH_JOBS=6
# export FETCH_JOBS="12"
