## Ignore everything in this path, unless explicitly allowed
*

## Allow specific files/dirs
!.gitignore
!.gitkeep
!README.md

## Mise
!.mise.toml

## Direnv
!.envrc

## Go-task
!Taskfile.yml

!.tasks/
!.tasks/*
!.tasks/**

## organizations/ dir
!organizations/

## .scripts/ dir
!.scripts/
!.scripts/*
!.scripts/**

## repos/ dir
!repos/

## sparse-clones/ dir
!sparse-clones/

## worktrees/ dir
!worktrees/

## gists/ dir
!gists/

## .scan_results dir
!.scan_results/
!.scan_results/retain/

## Experiments dir
!experiments/

## Workspaces dir
!.workspaces/

## Override for ignoring .local files
*.local.yml

