## Ignore everything in this path, unless explicitly allowed
*

## Allow specific files/dirs
!.gitignore
!.gitkeep
!README.md

## Mise
!.mise.toml

## Direnv
!.envrc

## Go-task
!Taskfile.yml

!.tasks/
!.tasks/*
!.tasks/**

## .scripts/ dir
!.scripts/
!.scripts/*
!.scripts/**

## repos/ dir
!repos/

## Override for ignoring .local files
*.local.yml

